:root {
	--error: #ee6183;
	--piss: #c482ed;
	--blue: #454dfe;
	--mint: #a8eeee;
	--gruble: #5de9ae;

	--c900: #ebeef9;
	--c800: #aeb7da;
	--c700: #707ba6;
	--c600: #4f587b;
	--c500: #454e6f;
	--c400: #2d344f;
	--c300: #171d33;
	--c250: #0c1123;
	--c200: #07071c;
	--c100: #01010d;

	--bg: var(--c200);
	--fg: var(--c900);
	background-color: var(--bg);
}

