.appGridWrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.appGrid {
	display: grid;
	grid-template-columns: 240px 1fr;
	grid-template-rows: auto 1fr 210px;
	overflow: hidden;
}

.appGrid header {
	grid-row: 1;
	grid-column: 1/3;
}

.appGrid .settings {
	grid-column: 1;
	grid-row: 2;
	background-color: var(--c400);
}

.appGrid .settings .inner {
	margin: 16px;
}

.settings .inner .title {
	font-size: 1em;
	font-weight: 500;
	color: var(--mint);
}

.settings .inner .section {
	margin-top: 16px;
	user-select: none;
	transition-property: opacity;
	transition-duration: 150ms;
}

.settings .inner .section.disabled {
	opacity: .4;
	pointer-events: none;
}

.settings .inner .section .title {
	user-select: none;
	color: var(--c800);
	display: block;
}

.MuiSwitch-root { margin: -6px 0px; }

.settings .inner .section > *,
.form-spacing > *
{ margin-bottom: 8px !important; }

.settings .inner .scroll {
	top: 32px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-radius: 6px;
	margin-right: -16px;
}
.settings .inner button {
	background-color: var(--piss);
	color: var(--bg);
}
.settings .inner .section .body {
	font-size: .875em;
	font-weight: 500;
}

.fullwidth-inputs button,
.fullwidth-inputs .MuiFormControl-root
{ width: 100%; }

:root { --selection-hover-color: rgba(93, 233, 174, 0.04); }
.MuiSwitch-root .MuiSwitch-thumb { color: var(--c700); }
.MuiSwitch-root .MuiSwitch-track { background-color: var(--c700); }
.MuiSwitch-root .Mui-checked .MuiSwitch-thumb { color: var(--gruble); }
.MuiSwitch-root .Mui-checked + .MuiSwitch-track { background-color: var(--gruble) !important; }
.MuiSwitch-root .Mui-checked { color: var(--gruble) !important; }
.MuiSwitch-root .Mui-checked:hover { background-color: var(--selection-hover-color) !important; }
.MuiSlider-thumb.Mui-focusVisible, .MuiSlider-thumb:hover { box-shadow: 0px 0px 0px 8px var(--selection-hover-color) !important; }
.MuiSlider-thumb.MuiSlider-active { box-shadow: 0px 0px 0px 14px var(--selection-hover-color) !important; }

.MuiFormControl-root {
	border-radius: 6px;
	overflow: hidden;
}
.MuiSelect-icon,
.MuiFormLabel-root
{ color: var(--c800) !important; }
.MuiFormLabel-root.Mui-focused { color: var(--gruble) !important; }
.MuiFilledInput-root {
	background-color: var(--c300) !important;
	color: var(--fg) !important;
}
.MuiFilledInput-underline:after { border-color: var(--gruble) !important; }
.MuiFilledInput-underline:before { border-bottom: none !important; }

.MuiMenu-paper {
	background-color: var(--c200) !important;
	color: var(--fg) !important;
}
.MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover { background-color: transparent !important; }

.os-controls-type { width: 192px; }
.os-controls-type svg {
	fill: var(--piss);
	width: 48px;
	height: 48px;
}
.os-controls-type .description {
	overflow: hidden;
	line-height: 1.1;
}
.os-controls-type .description .title {
	font-weight: 700;
	margin-bottom: 4px;
	font-size: 1.125rem;
}

.os-controls-type .description .title,
.os-controls-type .description .body {
	display: block;
	white-space: normal !important;
}

.os-controls-type .icon {
	width: 48px;
	padding-right: 4px;
}

.MuiList-root .os-controls-type .label { display: none; }
.MuiSelect-root .os-controls-type :not(.label) { display: none; }

.settings ::-webkit-scrollbar-track,
.settings ::-webkit-scrollbar-track-piece,
.settings ::-webkit-scrollbar {
	background-color: var(--c400);
}

.settings ::-webkit-scrollbar-thumb {
	background: linear-gradient(90deg , var(--c400) 7px, var(--c700) 7px, var(--c700) 9px, var(--c400) 9px);
}

.settings ::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}

.appGrid .viewer {
	grid-column: 2;
	grid-row: 2;
	background-color: var(--c200);
}

.appGrid .tools {
	grid-column: 1;
	grid-row: 3;
	background-color: var(--c300);
	padding: 8px;
}

.appGrid .tools .time {
	line-height: 1;
	height: 20px;
}

.appGrid .tools .time .framerate {
	font-weight: 500;
	color: var(--c700);
}

.appGrid .tools .time .timecode {
	font-weight: 500;
	color: var(--gruble);
}

.tools .time .framerate,
.tools .time .timecode {
	user-select: none;
	transition-property: opacity, color;
	transition-duration: 150ms;
}

.tools .time.disabled .framerate,
.tools .time.disabled .timecode {
	opacity: .6;
	color: var(--c700);
}

.appGrid .tools .MuiToggleButtonGroup-root,
.appGrid .tools .zoom {
	margin-top: 8px;
}

.appGrid .tools .zoom {
	display: grid;
	grid-template-columns: 24px 1fr 24px;
}

.appGrid .tools .zoom .spacing {
	margin: -4px 8px;
}

.appGrid .tools .zoom .spacing .MuiSlider-root {
	color: var(--gruble);
}

.zoom .MuiSlider-root,
.zoom .MuiSvgIcon-root {
	transition-property: opactity, color;
	transition-duration: 150ms;
}

.zoom.disabled .MuiSlider-root,
.zoom.disabled .MuiSvgIcon-root {
	pointer-events: none;
	color: var(--c800) !important;
	opacity: .6;
}

.appGrid .settings .MuiToggleButtonGroup-root.toolsSelection .MuiToggleButton-root { border-color: var(--c700); }
.MuiToggleButtonGroup-root.toolsSelection .MuiToggleButton-root {
	border-width: 2px;
	padding: 8px;
	color: var(--c800);
	background-color: transparent;
	border-color: var(--c400);
	margin-right: -1px;
	transition-property: opacity, background-color, color, border-color;
	transition-duration: 150ms;
}

.MuiToggleButtonGroup-root.disabled .MuiToggleButton-root {
	opacity: .6;
	pointer-events: none;
}

.MuiToggleButtonGroup-root.disabled .MuiToggleButton-root.Mui-selected {
	color: var(--c800) !important;
	background-color: var(--c400) !important;
	border-top-color: var(--c600) !important;
	border-bottom-color: var(--c600) !important;
}

.MuiToggleButtonGroup-root.toolsSelection .MuiToggleButton-root.Mui-selected {
	color: var(--gruble);
	background-color: rgba(93, 233, 174, 0.12);
}
.appGrid .tools .MuiToggleButtonGroup-root .MuiToggleButton-root.Mui-selected {
	border-top-color: #334A5A;
	border-bottom-color: #334A5A;
}

.MuiToggleButtonGroup-root.toolsSelection .MuiToggleButton-root:first-child {
	border-radius: 6px 0 0 6px;
}

.MuiToggleButtonGroup-root.toolsSelection .MuiToggleButton-root:last-child {
	border-radius: 0 6px 6px 0;
}

.MuiToggleButtonGroup-root.toolsSelection .MuiToggleButton-root .loopStartEnd {
	display: inline-block;
	white-space: nowrap;
	line-height: 0;
	position: relative;
	height: 24px;
	width: 36px;
}

.MuiToggleButtonGroup-root.toolsSelection .MuiToggleButton-root .loopStartEnd .start { left: -3px; }
.MuiToggleButtonGroup-root.toolsSelection .MuiToggleButton-root .loopStartEnd .end { right: -3px; }

.appGrid .timeline {
	grid-column: 2;
	grid-row: 3;
	background-color: var(--c100);
	overflow: hidden;

	--debug-hitbox-opacity: 0;
}

.appGrid .viewer {
	display: grid;
	grid-template-rows: 1fr 80px;
}

.appGrid .viewer .player {
	margin: 16px;
	margin-bottom: 0px;
	line-height: 0;
}

.player.disabled .outer {
	border-color: var(--c400) !important;
}

.appGrid .viewer .player .outer {
	transition-property: border-color;
	transition-duration: 150ms;
	border: 8px solid var(--piss);
	border-radius: 8px;
}

.appGrid .viewer .player {
	--aspect-ratio-h: 16;
	--aspect-ratio-v: 9;
}

.appGrid .viewer .player .outer {
	aspect-ratio: 16 / 9;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
}

.appGrid .viewer .controls {
	position: relative;
}

.appGrid .viewer .controls .abscenter {
	margin-left: 24px;
}

.appGrid .viewer .controls .r0 {
	margin-right: 16px;
}

.appGrid .viewer .controls .MuiFab-root.playPause {
	background-color: var(--blue);
}
.appGrid .viewer .controls.disabled .playPause,
.appGrid .viewer .controls .playPause.disabled {
	color: var(--c700);
	opacity: .6;
	background-color: var(--c400);
}

.appGrid .viewer .controls .MuiFab-root {
	color: var(--fg);
}

.appGrid .viewer .controls.disabled .MuiFab-root {
	color: var(--c700);
	opacity: .6;
	pointer-events: none;
}
.appGrid .viewer .controls .MuiFab-root {
	transition-property: background-color, color, opacity;
	transition-duration: 150ms;
}
.appGrid .viewer .controls .MuiFab-root:not(.playPause) {
	background-color: var(--transparent);
	box-shadow: none;
	margin: 4px;
}

.appGrid .timeline .keyframes {
	height: 100%;
	width: calc(var(--zoom) * var(--total-frames) * 1px);
}

.appGrid .timeline .keyframes .selectionarea {
	width: calc(var(--zoom) * var(--total-frames) * 1px);
	background-color: rgba(0, 0, 255, var(--debug-hitbox-opacity));
}
#selection.placed {
	cursor: grab;
}
#selection.placed:active {
	cursor: grabbing;
}

#selection {
	left: calc(var(--zoom) * (var(--starting-frame) + var(--center)) * 1px - 6px + var(--start-offset) * 1px);
	top: calc((var(--y) - 6) * 1px);
}

.appGrid .timeline .keyframes .frame {
	background-color: transparent;
	height: 100%;
	width: calc(var(--zoom) * 1px);
	display: inline-block;
	border-radius: 2px 2px 0 0;
	overflow: visible;
	left: calc(var(--zoom) * (var(--frame)) * 1px);

	pointer-events: none;
	background-color: rgba(255, 0, 0, var(--debug-hitbox-opacity));
}

.appGrid .timeline .keyframes .frame:nth-child(30n) .line {
	background-color: var(--c300);
	top: 28px;
	width: 2px;
	border-radius: 2px 2px 0 0;
}

.appGrid .timeline .keyframes .frame .timecode {
	display: none;
}

.appGrid .timeline .keyframes .frame:nth-child(30n) .timecode {
	color: var(--c700);
	font-weight: 500;
	line-height: 1;
	display: inline-block;
	top: 12px;
}

.appGrid .timeline .timelineInner {
	overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;
}

.appGrid .timeline .timelineInner.blur {
	pointer-events: none;
}

.timeline .scrubber {
	width: 2px;
	overflow: visible;
	filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
	z-index: 1;
	left: calc((var(--zoom) * (var(--frame) + 0.5)) * 1px - 1px);
	pointer-events: none;
}

.timeline .frameOverlay {
	left: 2px;
	width: calc(var(--zoom) * 1px - 2px);
	background-color: var(--blue);
	opacity: .0;
}

.timeline .scrubberJumpArea {
	cursor: grab;
	background-color: rgba(0, 255, 0, var(--debug-hitbox-opacity));
}
.timeline .scrubberJumpArea:active { cursor: grabbing; }

.timeline .scrubber .head { fill: var(--blue); }
.timeline .scrubber .needle { background-color: var(--blue); }

.timeline .scrubber .head,
.timeline .scrubber .needle {
	transition-property: fill, background-color;
	transition-duration: 150ms;
}

.timeline.disabled .scrubberJumpArea { pointer-events: none; }
.timeline.disabled .scrubber .head { fill: var(--c600); }
.timeline.disabled .scrubber .needle { background-color: var(--c600); }

.timeline .labels .label {
	transform: translate(-50%, -100%);
	color: var(--c700);
}

.timeline .labels .label,
.timeline .timeScale {
	transition-property: color, opacity;
	transition-duration: 150ms;
}

.timeline.disabled .labels .label,
.timeline.disabled .timeScale {
	color: var(--c600);
	opacity: .6;
}

.timeline .scrubberJumpArea {
	height: 28px;
	z-index: 9;
}

.fadeout {
	transition-property: opacity;
	transition-duration: 100ms;
	opacity: 0;
	user-select: none;
	pointer-events: none;
}

.fadeout.first {
	transition-duration: 0ms;
	opacity: 1;
}

header .projarea .projfolder {
	color: var(--c700);
}

header .projarea {
	line-height: 0;
	height: 24px;
	transition-property: opacity;
	transition-duration: 150ms;
}

header .projarea.disabled {
	opacity: 0;
	pointer-events: none;
}

header .projarea > * {
	vertical-align: middle;
}

header .projarea .projname {
	transition-property: background-color;
	transition-duration: 150ms;
}

header .projarea .projname:focus {
	background-color: var(--c100);
	outline: none;
}

header .projarea span {
	padding: 2px 4px;
	margin: -2px -4px;
	border-radius: 6px;
}

.MuiSelect-root, .MuiInputBase-root { border-radius: 6px !important; }
.MuiInputBase-root { background-color: var(--c600) !important; }
.MuiSelect-root { background-color: var(--c200) !important; }
.MuiFormLabel-root { font-weight: 500 !important; }

