html, body {
	padding: 0;
	margin: 0;

	background-color: var(--bg);
	color: var(--fg);

	font-family: "Inter", sans-serif;
}

.keyframe { fill: var(--gruble); }

h1 { font-size: 1.25rem; }
h2 { font-size: 1.125rem; }
h3 { font-size: 1rem; }

.MuiSvgIcon-root {
	font-size: 24px !important;
}

