.loop .connector {
	height: 16px;
	background-color: var(--gruble);
	opacity: .25;
	width: calc(100% - 26px);
	margin: 4px -11px;
}

.loop {
	width: calc((var(--frame) - var(--begin)) * var(--zoom) * 1px + 24px);
	position: absolute;
	right: 0;
}

.keyframe > * {
	fill: currentColor;
}

