:root {
	background-color: var(--c100);
}

.presentation {
	--aspect-ratio-h: 16;
	--aspect-ratio-v: 9;
}

.slideWrapper {
	margin: 0 auto;
	max-width: calc(var(--aspect-ratio-h) / var(--aspect-ratio-v) * 100vh);
}

.slideWrapper .slide {
	padding-top: calc(var(--aspect-ratio-v) / var(--aspect-ratio-h) * 100%);
	background-color: var(--c200);
}

.fullscreenControls {
	--menu-size: 25;
	display: grid;
	grid-template-columns: 1fr calc(var(--menu-size) * 1vw) 1fr;
}

#menu {
	pointer-events: none;
	transition: opacity .3s;
	opacity: 0;
}

#menu.active {
	pointer-events: unset;
	opacity: 1;
}

#menu .background {
	background: linear-gradient(180deg,
								rgba(1, 1, 13, 0.46) 50%,
								rgba(1, 1, 13, 1.00) 100%);
}

#menu .info {
	margin: 32px;
	grid-template-columns: auto 1fr auto;
}

#menu .info .timetitle,
#menu .info .slide {
	line-height: 1;
}

#menu .info .timetitle *,
#menu .info .slide * {
	margin: 0;
}

#menu .info h3 {
	color: var(--c700);
	font-weight: 400;
	font-size: min(50px, 3vw);
}

#menu .info h1 {
	font-weight: 600;
	font-size: min(70px, 4.2vw);
}

#menu .MuiButton-root {
	background-color: var(--piss);
}

#menu .MuiButton-root.bg-err {
	background-color: var(--error);
}

#menu .info .buttons .inner .MuiButton-root { margin: 8px; }
#menu .info .buttons .inner { margin: -8px; }

.menuBar {
	position: absolute;
	padding: 8px;
	background-color: var(--c300);
	border-radius: 16px;
	white-space: nowrap;
	box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.25);

	top: calc(var(--y) * 1px);
	left: calc(var(--x) * 1px);

	transform: translate(-50%, -50%) rotate(calc(var(--vertical) * 90deg));
}

.menuBar .MuiButton-root .MuiButton-label {
	transform: rotate(calc(var(--vertical) * -90deg))
}

.menuBar .MuiButton-root:hover { background-color: var(--c400); }
.menuBar .MuiButton-root {
	background-color: var(--c400);
	padding: 8px;
	border-radius: 8px !important;
	overflow: hidden;
	color: var(--fg);
	min-width: 0;
}

.menuBar .MuiButton-root.big {
	background-color: var(--blue);
	width: 80px;
}

.menuBar .spacing { display: inline-block; }
.menuBar .spacing.big { width: 16px; }
.menuBar .spacing.small { width: 8px; }

