.selection {
	--selection-color: var(--gruble);
	--corner-size: 12px;
	filter: drop-shadow(0px 0px 16px var(--selection-color));
	transition-duration: 100ms;
	transition-property: transform, opacity;
}

.selection .bar.top,
.selection .bar.bottom {
	height: 2px;

	left: var(--corner-size);
	right: var(--corner-size);
}

.selection .bar.left,
.selection .bar.right {
	width: 2px;

	top: var(--corner-size);
	bottom: var(--corner-size);
}

.selection .bar {
	background-color: var(--selection-color);
}

.selection .corner {
	fill: var(--selection-color);
}

.selection.active .background { opacity: .12; }
.selection .background {
	border-radius: 6px;
	background-color: var(--selection-color);
	opacity: 0;
	transition: opacity 200ms;
}

.selection.hidden {
	transform: scale(0.5);
	opacity: 0;
}
